.center{
  align-items: center;
  justify-content: center;
  display:flex;
  background-image: linear-gradient(red, rgb(235, 235, 60));
  width:100%;
 
}

.App {
  width:90%;
  height:100vh;
  margin:0 auto;
}

.search{
  margin-left: 45px;
  width:95%;
  padding-top: 20px;
  margin-top: 12px;
 align-items:center;
  
}
  

.list{
  display: grid;
  grid-template-columns: auto auto;  
  list-style-type: none;;
}

.listItems{
  display: flex;
  gap:12px;
  align-items: center;
  background-color:white;
  margin:5px;
  padding:6px;
}

.house{
  display:inline-block;
}

.items{
  font-weight: bold;
}